<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body>
    <nav>
        <div class="container">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/author">Author</a></li>
                <li><a href="/home">Home</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="container">
            <h2>Welcome to My Application</h2>
            <ul>
              <li><a href="https://www.instagram.com/"><img src="assets/instagram.png" class="logo"></a></li>
              <li><a href="https://www.facebook.com/"><img src="assets/facebook.png" class="logo"></a></li>
              <li><a href="https://x.com/?lang=sr/"><img src="assets/twitter.png" class="logo"></a></li>
          </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 My Website. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
