<mat-toolbar color="accent">
  <span class="title-center">Ročište</span>
  <span class="spacer"></span>
  <button mat-icon-button color="primary" (click)="openDialog(1)">
    <img src="assets/icons8-plus-16.png"  class="add-icon"/>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">
  <div class="filter-field">
    <mat-form-field appearance="outline">
      <mat-label>Pretraga</mat-label>
      <input matInput placeholder="Pretraga .." name="filterField" (keyup)="applyFilter($event)" />
    </mat-form-field>
  </div>
  <mat-table matSort [dataSource]="dataSource" class="mat-table">
    <!-- ID -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <!-- Datum Ročišta -->
    <ng-container matColumnDef="datum_rocista">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DATUM ROCISTA</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.datum_rocista }}</mat-cell>
    </ng-container>

    <!-- Sudnica -->
    <ng-container matColumnDef="sudnica">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sudnica</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.sudnica }}</mat-cell>
    </ng-container>

    <!-- Učesnik -->
    <ng-container matColumnDef="ucesnik">
      <mat-header-cell *matHeaderCellDef mat-sort-header>UČESNIK</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ucesnik?.mbr }}</mat-cell>
    </ng-container>

    <!-- Predmet -->
    <ng-container matColumnDef="predmet">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PREDMET</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.predmet?.brojPr }}</mat-cell>
    </ng-container>

    <!-- Action Buttons -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.datum_rocista, row.sudnica, row.ucesnik, row.predmet)">
          <img src="assets/icons8-edit-16.png"  class="add-icon"/>
        </button>
        <button mat-icon-button color="warn" (click)="openDialog(3, row.id, row.datum_rocista, row.sudnica, row.ucesnik, row.predmet)">
          <img src="assets/icons8-delete-16.png"  class="add-icon"/>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Definitions -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3, 6, 9, 12]"></mat-paginator>
</div>
