<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje predmeta</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje predmeta: {{data.brojPr}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje predmeta: {{data.brojPr}}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
     <mat-form-field>
         <input matInput placeholder="BrojPr" name="BrojPr" [disabled]="flag==3" [(ngModel)]="data.brojPr" required />
     </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
          <input matInput placeholder="Opis" name="Opis" [disabled]="flag==3" [(ngModel)]="data.opis" required />
      </mat-form-field>
     </div>
     <div class="form">
      <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Izaberi datum" placeholder="Datum_pocetka" name="Datum_pocetka" [disabled]="flag==3" [(ngModel)]="data.datum_pocetka" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
     </div>
     <div class="form">
      <mat-checkbox [checked]="data.aktivan" (change)="toggleAktivan($event.checked)" [disabled]="flag === 3">
    Aktivan
</mat-checkbox>
     </div>

     <div class="form">
      <mat-select [compareWith]="compare" class="form-field" placeholder="Sud" name="Sud" [disabled]="flag==3" [(ngModel)]="data.sud" required>
          <mat-option *ngFor="let sud of sud" [value]="sud">
              {{sud.naziv}}
          </mat-option>
      </mat-select>
  </div>
</form>

 <div class="mat-dialog-actions">
        <button matButton *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button matButton *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button matButton (click)="cancel()">Poništi</button>
    </div>
</div>
