<div class="container">
  <mat-toolbar color="primary" class="custom-toolbar">
      <span class="title-center">O autoru</span>
  </mat-toolbar>

  <div class="content">
      <section class="author-info">
          <div class="author-container">
              <img src="assets/mojaslika.jpg" alt="Autorova slika" class="author-image">
              <div class="author-details">
                  <h2 class="author-name">Veljko Antonić</h2>
                  <p>
                      Autor je iskusni stručnjak u oblasti informacionih tehnologija sa dugogodišnjim iskustvom.
                      Njegova strast za inovacijama i posvećenost vrhunskom kvalitetu usluga su ključni faktori
                      koji ga čine jednim od najcenjenijih stručnjaka u svojoj oblasti.
                  </p>
                  <h3>Obrazovanje</h3>
                  <p>Autor je diplomirao na Fakultetu Tehničkih Nauka Univerziteta u Novom Sadu, gde je i završio doktorske studije.</p>
                  <h3>Karijera</h3>
                  <p>Autor je radio za nekoliko prestižnih sudova širom sveta. Tu je uvideo problem nedostatka informacionog sistema koji će znatno poboljšati kvalitet pružanja usluga klijentima.</p>
                  <h3>Nagrade i priznanja</h3>
                  <p>Dobitnik je brojnih nagrada i priznanja za svoj rad i doprinos sudskoj praksi.</p>
              </div>
          </div>
      </section>
      <footer class="custom-footer">
        <p></p>
        <p>&copy; 2024 Sud. Sva prava zadržana.</p>
    </footer>
  </div>
